.main {
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

.button-ctr {
  /* display: flex; */
}

h1 {
  display: flex;
  justify-content: center;
}

.card {
display: flex;
justify-content: center;
}